litool-runner/src/main/resources/funcs.dtd

<!ELEMENT funcs (func)*>
        <!ELEMENT func (param)*>
        <!ATTLIST func
                instruct CDATA #REQUIRED
                label CDATA #REQUIRED
                name CDATA #REQUIRED
                type CDATA #IMPLIED>
        <!ELEMENT param (#PCDATA)>
        <!ATTLIST param
                type (int|str|double)#IMPLIED>
